.intolerances {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: fit-content;
    gap: 0.5rem;
}
.subHeader {
    grid-column-start: 1;
    grid-column-end: 5;
}
.optionsGrid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    max-width: fit-content;
    gap: 0.5rem 1rem;
}